<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.mapper.Evaluate_serviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.Evaluate_service">
        <id column="evaluate_detail_id" property="evaluate_detail_id" />
        <result column="user_id" property="user_id" />
        <result column="service_user_id" property="service_user_id" />
        <result column="evaluate_grade" property="evaluate_grade" />
        <result column="evaluate_tag_name" property="evaluate_tag_name" />
        <result column="evaluate_remark" property="evaluate_remark" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="is_del" property="is_del" />
    </resultMap>

</mapper>
