<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.mapper.IntegralRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.IntegralRecord">
        <id column="integral_record_id" property="integralRecordId" />
        <result column="integral_record_type" property="integralRecordType" />
        <result column="change_type" property="changeType" />
        <result column="integral_number" property="integralNumber" />
        <result column="order_id" property="orderId" />
        <result column="change_reason" property="changeReason" />
        <result column="change_record_type" property="changeRecordType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

</mapper>
