<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.mapper.MemberCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.MemberCard">
        <id column="member_card_id" property="member_card_id" />
        <result column="member_card_type_id" property="member_card_type_id" />
        <result column="member_card_type_name" property="member_card_type_name" />
        <result column="member_card_type_color" property="member_card_type_color" />
        <result column="user_id" property="user_id" />
        <result column="member_card_number" property="member_card_number" />
        <result column="remainder_price" property="remainder_price" />
        <result column="discounts" property="discounts" />
        <result column="is_forver" property="is_forver" />
        <result column="create_time" property="create_time" />
        <result column="deadline" property="deadline" />
        <result column="status" property="status" />
        <result column="is_del" property="is_del" />
    </resultMap>

</mapper>
