<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.mapper.Order_detailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.Order_detail">
        <id column="order_detail_id" property="order_detail_id" />
        <result column="order_id" property="order_id" />
        <result column="product_id" property="product_id" />
        <result column="product_name" property="product_name" />
        <result column="product_price" property="product_price" />
        <result column="product_img" property="product_img" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="is_del" property="is_del" />
    </resultMap>

</mapper>
