<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.mapper.ReservationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.ReservationRecord">
        <id column="reservation_record_id" property="reservationRecordId" />
        <result column="user_id" property="userId" />
        <result column="service_user_id" property="serviceUserId" />
        <result column="service_user_name" property="serviceUserName" />
        <result column="reservation_time" property="reservationTime" />
        <result column="reservation_project" property="reservationProject" />
        <result column="reservation_project_name" property="reservationProjectName" />
        <result column="reservation_number" property="reservationNumber" />
        <result column="reservation_remark" property="reservationRemark" />
        <result column="status" property="status" />
        <result column="advice" property="advice" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

</mapper>
