<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.mapper.WorksShowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.WorksShow">
        <id column="works_show_id" property="works_show_id" />
        <result column="user_id" property="user_id" />
        <result column="pic1" property="pic1" />
        <result column="pic2" property="pic2" />
        <result column="pic3" property="pic3" />
        <result column="pic4" property="pic4" />
        <result column="pic5" property="pic5" />
        <result column="pic6" property="pic6" />
        <result column="remark" property="remark" />
        <result column="price" property="price" />
        <result column="like_number" property="like_number" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="is_del" property="is_del" />
    </resultMap>

</mapper>
