<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.com.zy.wreserve.mapper.EvaluateWorksShowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.com.zy.wreserve.entity.EvaluateWorksShow">
        <id column="evaluate_works_show_id" property="evaluate_works_show_id" />
        <result column="evaluate_primary_id" property="evaluate_primary_id" />
        <result column="works_show_id" property="works_show_id" />
        <result column="content" property="content" />
        <result column="reply_id" property="reply_id" />
        <result column="user_id" property="user_id" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="is_del" property="is_del" />
    </resultMap>

</mapper>
