<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.wechat.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.Product">
        <id column="product_id" property="product_id" />
        <result column="product_title" property="product_title" />
        <result column="product_name" property="product_name" />
        <result column="product_menu_id" property="product_menu_id" />
        <result column="product_price" property="product_price" />
        <result column="product_img" property="product_img" />
        <result column="sales" property="sales" />
        <result column="inventory" property="inventory" />
        <result column="is_recommend" property="is_recommend" />
        <result column="product_detail_img" property="product_detail_img" />
    </resultMap>

</mapper>
