<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.wechat.mapper.ReservationProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.ReservationProject">
        <id column="reservation_project_id" property="reservation_project_id" />
        <result column="reservation_project_name" property="reservation_project_name" />
        <result column="sort" property="sort" />
    </resultMap>

</mapper>
