<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.wreserve.wechat.mapper.UserTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.wreserve.wechat.entity.UserTag">
        <id column="user_tag_id" property="user_tag_id" />
        <result column="tag_name" property="tag_name" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="is_del" property="is_del" />
    </resultMap>

</mapper>
